name: CI/CD Pipeline

on:
  push:
    branches: [ "feature/ci-cd-api" ]
  pull_request:
    branches: [ "feature/ci-cd-api" ]

jobs:
  test_and_build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest requests httpx matplotlib scikit-learn

      - name: Train model
        run: python -m scripts.train_model

      - name: Run tests
        run: pytest --maxfail=1 --disable-warnings -q

  docker_build_and_push:
    needs: test_and_build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t gkass123/engine-cycle-api:latest .

      - name: Push Docker image
        run: docker push gkass123/engine-cycle-api:latest

      
